<h2>Shopping Cart</h2>

<%= form_for @item_orders do |add| %>
<%= add.label :item_id %>
<%= add.collection_select :item_id, @items, :id, :product %>
<%= add.submit "Purchase" %>
<% end %>

<%= button_to "Delete #{@item.product}", "/item_orders/#{@item_order.id}", method: :delete %>
