<!DOCTYPE html>
<html>
  <head>
    <title>Biashara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <script src="/assets/js/scripts.js" type="71c79c9ccb6c8003e4ba811a-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="71c79c9ccb6c8003e4ba811a-|49" defer=""></script>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
